 <% accounts.each { |account|   %>
     <p>
        <ul>
            <li> Name   : <%= account.account_name %></li>
            <li> Type   : <%= account.account_type %></li>
            <li> Value  : <%= account.value %></li>
            <li> Desc   : <%= account.description %></li>
        </ul>
     <div class="delete_button">
     <%= button_to "Delete", {:controller => :accounts, :action => 'destroy', :id => account.id }, :method => :delete %>
     </div>
      </p>
  <% } %>