<div class="container">

  <div class="row" id="itung">
    <div class="col-lg-6 add_expense" id="account_expenses">
      <%= render 'form', locals: {identity: @record_id, type: "expense"} %>
      <div class="col-lg-12 account_result" id="expenses">
        <h3>Expense List</h3>
        <% if @expense_accounts.present? %>
            <%= render 'single_account_summary', accounts: @expense_accounts %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6 add_expense" id="account_income">
      <%= render 'form', locals: {identity: @record_id, type: "income"} %>
      <div class="col-lg-12 account_result" id="incomes">
        <h3>Income list</h3>
        <% if @income_accounts.present? %>
            <%= render 'single_account_summary', accounts: @income_accounts %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row" id="summary">
    <% if @accounts.present? %>
        <div class="center-global">
          <b> Total income :</b>&nbsp<%= number_to_currency(@total_income) %><br>
          <b> Total expense :</b>&nbsp<%= number_to_currency(@total_expense) %><br>
          <b> Balance :</b>&nbsp<%= number_to_currency(@balance) %><br>
        </div>
    <% end %>
  </div>

  <% if @accounts.present? %>
      <div class="account_result" id="expenses">
        <% if @expense_accounts.present? %>
            <%= render 'single_account_summary', accounts: @expense_accounts %>
        <% end %>
      </div>

      <div class="account_result" id="incomes">
        <% if @income_accounts.present? %>
            <%= render 'single_account_summary', accounts: @income_accounts %>
        <% end %>
      </div>

      <div id="summary" class="center-global">
        <b> Total income :</b>&nbsp<%= number_to_currency(@total_income) %><br>
        <b> Total expense :</b>&nbsp<%= number_to_currency(@total_expense) %><br>
        <b> Balance :</b>&nbsp<%= number_to_currency(@balance) %><br>
      </div>

      <h1>Testing my controller</h1>
      <br>
      <%= @record_id %>

  <% end %>
</div>