<div>
   <%= render 'form'%>
</div>

<div id="expense">
  <%= render 'single_account_summary', accounts: @expense_accounts %>
  --------------------------------------------------------------------
</div>
<div id="income">
   <%= render 'single_account_summary', accounts: @income_accounts %>
   -------------------------------------------------------------------
</div>
<div>
  <b> Total income  :</b>&nbsp<%= number_to_currency(@total_income) %><br>
  <b> Total expense :</b>&nbsp<%= number_to_currency(@total_expense) %><br>
  <b> Balance       :</b>&nbsp<%= number_to_currency(@balance) %><br>
</div>

<br><%= link_to 'Back', accounts_path %>

<h1>Testing my controller</h1>
<br>
<%= @record_id %>
