<%= form_for(@account) do |f| %>
    <h2>Add <%= locals[:type] %></h2>
    <% if @account.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

          <ul>
            <% @account.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :account_name %><br>
      <%= f.text_field :account_name %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :account_type, :value => locals[:type] %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :identity, :value => locals[:identity] %>
    </div>
    <div class="form-group">
      <%= f.label :value %><br>
      <%= f.number_field :value %>
    </div>
    <div class="form-group">
      <%= f.label :description %><br>
      <%= f.text_field :description %>
    </div>
    <div class="form-group">
      <%= f.submit %>
    </div>
    <hr>

<% end %>
